.track-table {
    background-color: #011e48;
    border: 0.5px solid #3b598b;
    border-radius: 3px;
    overflow: hidden;
}

.track-table-head {
    padding: 10px 14px;
    border-bottom: 0.5px solid #3b598b;
    background-color: #011e48;
    display: flex;
}

.track-table-title {
    font-family: cursive;
    font-size: 21px;
    letter-spacing: 1.6px;
    color: #acd0c2;
}

.track-table-body {
    width: 100%;
    border-collapse: collapse;
    font-size: 22px;
    table-layout: fixed;
}

.track-table-body th {
    font-family: cursive;
    font-size: 18px;
    letter-spacing: 1.92px;
    color:#acd0c2;
    background-color: #3b598b;
    text-align: left;
    padding: 7px 12px;
    border-bottom: 0.5px solid #3b598b;
    opacity: 0.8;
    font-weight: 400;
}

.track-table-body td {
    font-size: 18px;
    letter-spacing: 1.92px;
    text-align: left;
    padding: 7px 12px;
    border-bottom: #3b598b;
    opacity: 0.8;
    font-weight: 400;
    background-color: #3b598b;
}